#{{ ansible_managed }}

agentAddress udp6:161
agentXPerms 0666
master agentx
rocommunity {{ snmp_community }}
rocommunity6 {{ snmp_community }}
syscontact {{ syscontact }}
syslocation {{ syslocation }}
