# {{ ansible_managed }}

@version: 3.5
@include "scl.conf"

options {
  stats_freq(0);
  flush_lines(0);
  time_reopen(10);
  log_fifo_size(10000);
  chain_hostnames(off);
  use_dns(no);
  use_fqdn(yes);
  create_dirs(no);
  keep_hostname(yes);
  perm(0640);
  group("log");
};

source src {
  system();
  internal();
};

{% if inventory_hostname in groups['observium'] %}

source net {
  udp6();
};

destination observium {
  program("/opt/observium/syslog.php" template ("$HOST||$FACILITY||$PRIORITY||$LEVEL||$TAG||$YEAR-$MONTH-$DAY $HOUR:$MIN:$SEC||$MSG||$PROGRAM\n") template-escape(yes));
};

log {
  source(src);
  source(net);
  destination(observium);
};

{% else %}

destination remote {
  udp6("observium.freifunk-duesseldorf.de");
};

log {
  source(src);
  destination(remote);
};

{% endif %}
