# {{ ansible_managed }}

router id {{ loopback_address }};
log syslog all;

protocol kernel freifunk {
  device routes;
  export all;
  kernel table 16;
};

protocol device {
  scan time 2;
};

protocol ospf ddorf {
  area 0.0.0.0 {
    interface "lo" {
      stub;
    };
    interface "tun-edge*";
  };
};
