# {{ ansible_managed }}
# Add dummy interface which is always up so we can add others dynamically
auto supernode

iface supernode inet manual
  ## Interface up
  pre-up ip link add $IFACE type dummy
  post-up ip link set address {{ mac_batbone }} dev $IFACE
  post-up ip link set up dev $IFACE
  # Batman configuration
  post-up batctl if add $IFACE
  post-up batctl it {{ batman.interval }}
  post-up batctl bl disable
  post-up batctl gw server 48mbit/48mbit
  post-up echo 120 > /sys/class/net/bat0/mesh/hop_penalty
  post-up ip link set up dev bat0
  # Start br0 interface
  post-up ifup br0
  ## Interface down
  #Stop br0 interface
  pre-down ifdown br0
  pre-down ip link del $IFACE
