# {{ ansible_managed }}

router id {{ ansible_default_ipv4.address }};
log syslog all;

protocol kernel {
  device routes;
  import all;
  export all;
  kernel table 16;
};

protocol device {
  scan time 8;
};

protocol direct {
  interface "tun*";
};

{% if local_as is defined %}

filter local_as {
  if net ~ {{ local_as.ipv4 | ipv4 | default('0.0.0.0/0') }} then accept;
  reject;
};

template bgp uplink {
  local as {{ local_as.number | default(0) }};
  import all;
  export filter local_as;
  next hop self;
  multihop 64;
};

{% for peer in peers %}
{% if peer.ipv4 is defined %}
protocol bgp {{ peer.name }} from uplink {
  source address {{ peer.ipv4.source_address }};
  neighbor {{ peer.ipv4.address }} as {{ peer.as_number }};
  default bgp_local_pref {{ peer.ipv4.bgp_local_pref | default(100) }};
};
{% endif %}
{% endfor %}

{% endif %}
