# {{ ansible_managed }}

# Tunnel to DDorf Backbone

{% for partner in tunnel_partners %}

{# get partner sequence number for this tunnel #}
{% set partner_seq = hostvars[partner].seq %}

{# select prefix for tunnels with the core partner based on core sequence number #}
{% set tunnel_prefix = tunnel_ipv4 | ipsubnet(tunnel_subnet_size,partner_seq) %}

{# select prefix for edge tunnels (0th /20) #}
{% set tunnel_prefix_site = tunnel_prefix | ipsubnet(20,0) %}

{# select network for this tunnel based on my (edge) sequence number (/31) #}
{% set tunnel_network = tunnel_prefix_site | ipsubnet(31,seq) %}

{# get local ip for this tunnel (0th address because we are the upper partner) #}
{# TODO: fix bug #13716 for real #}
{% set tunnel_address = tunnel_network | ipv4('network') | ipaddr('address') %}

{# name interface like "tun-core01" #}
{% set interface_name = "tun-" + hostvars[partner].ansible_hostname %}
auto {{ interface_name }}

iface {{ interface_name }} inet manual
  pre-up ip tunnel add $IFACE mode gre remote {{ hostvars[partner].ansible_default_ipv4.address }} local {{ ansible_default_ipv4.address }} ttl 255
  post-up ip link set dev $IFACE mtu 1400
  post-up ip link set dev $IFACE multicast on
  post-up ip link set up dev $IFACE
  post-up ip rule add iif $IFACE table 16
  post-up ip -6 rule add iif $IFACE table 16
  post-up ip rule add oif $IFACE table 16
  post-up ip -6 rule add oif $IFACE table 16
  post-down ip tunnel del $IFACE

iface {{ interface_name }} inet static
  address {{ tunnel_address }}
  netmask 31

{% endfor %}

# Tunnel to Rheinland Backbone

{% for tun in gretun %}
auto {{ tun.interface }}

iface {{ tun.interface }} inet manual
  pre-up ip tunnel add $IFACE mode gre remote {{ tun.remote }} local {{ ansible_default_ipv4.address }} ttl 255
  post-up ip link set dev $IFACE mtu 1400
  post-up ip link set dev $IFACE multicast on
  post-up ip link set up dev $IFACE
  post-up ip rule add iif $IFACE table 16
  post-up ip -6 rule add iif $IFACE table 16
  post-up ip rule add oif $IFACE table 16
  post-up ip -6 rule add oif $IFACE table 16
  post-down ip tunnel del $IFACE

{% if tun.ip4 is defined %}
iface {{ tun.interface }} inet static
  address {{ tun.ip4 }}
  netmask {{ tun.ip4 | ipv4('prefix') }}
{% endif %}

{% if tun.ip6 is defined %}
iface {{ tun.interface }} inet6 static
  address {{ tun.ip6 | ipv6('address') }}
  netmask {{ tun.ip6 | ipv6('prefix') }}
{% endif %}

{% endfor%}
