# {{ ansible_managed }}

router id {{ loopback_address }};
log syslog all;

protocol kernel freifunk {
  device routes;
  export all;
  kernel table 16;
};

protocol device {
  scan time 2;
};

protocol ospf ddorf {
  area {{ seq }} {
    interface "lo" {
        stub;
    };
    interface "eth2";
  };
};

template bgp internal {
  local as {{ local_as.number | default(0) }};
  export none;
  source address {{ loopback_address }};
};

{# select prefix for loopback address of the peer based on sequence number #}
{% set loopback_prefix = internal_ipv4 | ipsubnet(21,0) %}

{# select prefix for edge loopback addresses #}
{% set loopback_prefix_core = loopback_prefix | ipsubnet(22,1) %}

{% for peer in groups['core'] %}

{# get peer sequence number for this session #}
{% set peer_seq = hostvars[peer].seq %}

{# select network for this tunnel based on my (edge) sequence number (/31) #}
{% set peer_loopback_address = loopback_prefix_core | ipaddr(peer_seq) %}

protocol bgp core{{ '%03d' % peer_seq }} from internal {
  neighbor {{ peer_loopback_address | ipaddr('address') }} as {{ local_as.number }};
};
{% endfor %}
